<div class="row">
    <div class="mb-3">
      <label for="nova_senha">Nova senha</label>
      <div class="input-group">
        <input id="nova_senha" class="form-control" name="nova_senha" type="password" placeholder="Digite a senha">
        <i class="bi-eye position-eye"></i>
      </div>
      <p>A senha deve ter no mínimo 8 caracteres, 1 caractere especial, 1 letra maiúscula, 1 número</p>
    </div>
  </div>
  <div class="row">
    <div class="mb-3">
      <label for="confirma_nova_senha">Confirmar a nova senha</label>
      <div class="input-group">
        <input id="confirma_nova_senha" class="form-control" name="confirma_nova_senha" type="password"
          placeholder="Digite novamente a nova senha">
        <i class="bi-eye position-eye"></i>
      </div>
    </div>
  </div>